<div class="employee_class">
  Add Employee
  <br /><br />
  <label for="name">Name:</label><input id="name" type="text" [(ngModel)]="employeeModel.name" />
  <br />
  <label for="dob">Date Of Birth:</label><input id="dob" type="date" [(ngModel)]="employeeModel.dateOfBirth" />
  <br />
  <label for="position_held">Position Held:</label>
  <select id="position_held" [(ngModel)]="employeeModel.positionHeld">
    <option value="Manager">Manager</option>
    <option value="Software Engineer">Software Engineer</option>
    <option value="Lead">Lead</option>
  </select>
  <br /><br />
  <input type="button" value="Submit" (click)="submit()" />
  <br />
</div>
