<h1>Template Model Form</h1>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="form-group">
    <label for="username">UserName:</label>
    <input id="username" type="text" name="username" [(ngModel)]="username" required #name="ngModel">
    <span *ngIf="!name.valid && name.touched" class="help-block">Username is required</span>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input id="password" name="password" type="password" minlength="4" ngModel required #pass="ngModel">
    <span *ngIf="!pass.valid && (pass.errors!=null) && pass.touched" class="help-block">Minimum 4 letters is
      mandatory</span>
    <span *ngIf="!pass.valid && !(pass.errors!=null) && pass.touched" class="help-block">Password is required</span>
  </div>
  <button type="submit" class="submit btn btn-primary">Submit</button>
  <!-- <button type="submit" class="submit btn btn-primary">Submit</button> -->
  <div *ngIf="error" class="alert alert-danger">
    <strong>Authentication Failed !</strong>
  </div>
</form>
